doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
	head
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title *|MC:SUBJECT|*
	body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0', offset='0')
	p Fornecedor
	a(href=`${stageUrl}`) #{stageUrl}